body {
    background: #000;
    background-image: url("img/court.onion.jpg");
    font-family: "Noto Sans JP";
    background-attachment: fixed;
}

h1 {
    color: #f00;
    text-align: center;
    font-size: xx-large;
}

div {
    background: #a00;
    color: #fff;
    text-align: center;
}

.disabled {
    pointer-events: none;
    /* リンク無効にするやつ */
}

#body,
#text {
    width: 70%;
    text-align: center;
}

#body {
    margin: auto;
    margin-bottom: 0;
}   
#text {
    margin: auto;
    margin-top: 0;
    font-size: 17px;
}

.pic_frame {
    display: inline-block;
    text-align: center;
}

.button {
    text-align: center;
    color: #000;
}

span{
    color: #fff;
}

video {
    max-width: 800px;
    max-height: 450px;
    text-align: center;
}

@font-face{
   font-family:"myfont";
   src:url(TightWriter.otf);
}

#buttons{
    font-family:"myfont";
}
